.nav {
  height: 60px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.logo_img {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnRAO1pVp0wJHG2Sv6snO35g2hH2jLIIgfmw&s");
  background-size: cover;
  width: 60px;
}

.logo_text {
  font-size: large;
  font-weight: bolder;
  margin-left: 3px;
}
